[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
requests = "*"
python-jose = "*"
boto3 = "*"
pyioc = "*"
pillow = "*"
gunicorn = "*"
dnspython = "*"

[dev-packages]
flask-debugtoolbar = "*"
pytest = "*"
pytest-mock = "*"
flake8 = "*"
pytest-cov = "*"
pytest-env = "*"

[requires]
python_version = "3.7"
