{% extends "base.html" %}
{% block content %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('myphotos.myphotos') }}">
    {{ form.csrf_token }}
    <div class="control-group">
      <label class="control-label">Photo</label>
      {{ form.photo() }}
    </div>
    <br/>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="Upload">
      </div>
    </div>
  </form>

  {% if photos %}
    <hr/>
    <h4>Photos</h4>
    {% for photo in photos %}
      <table class="table table-bordered">
        <tr>
          <td rowspan="4" class="col-md-2 text-center"><img width="150" src="{{ photo.thumb_signed_url }}"/>
            <a href="{{ url_for('myphotos.myphotos_delete', uuid=photo.uuid) }}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row" class="col-md-2">Tag</th>
          <td>{{ photo.tag }}</td>
        </tr>
        <tr>
          <th scope="row" class="col-md-2">Likes</th>
          <td>{{ photo.likes }}</td>
        </tr>
      </table>
    {% endfor %}
  {% endif %}

{% endblock %}