{% extends "base.html" %}
{% block content %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('myphotos.myphotos') }}">
    {{ form.csrf_token }}
    <div class="control-group">
      <label class="control-label">Photo</label>
      {{ form.photo() }}
    </div>
    <br/>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="Upload">
      </div>
    </div>
  </form>

  {% if photos %}
    <div class="album py-5">
      <div class="container">
        <div class="row">

          {% for photo in photos %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ photo.thumb_signed_url }}">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                         <a href="{{ photo.photo_signed_url }}" style="text-decoration:none;">View</a>
                      </button>

                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        <a href="{{ url_for('myphotos.myphotos_delete', uuid=photo.uuid) }}"
                           style="text-decoration:none;">Remove</a>
                      </button>
                    </div>
                    <small class="text-muted">TAG: {{ photo.tag }}</small>
                    <small class="text-muted">Likes: {{ photo.likes }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}