[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
requests = "*"
python-jose = "*"

[dev-packages]
flask-debugtoolbar = "*"

[requires]
python_version = "3.7.0"
